html, body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 100px; /* prevents navbar overlap */
}

/* Remove default margins */
body {
  margin: 0;
}